.wrap {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.images-wrap {
  top: 40%;
  max-width: 30%;
}
.buttons-wrap {
  top: 85%;
  min-width: 350px;
  display: flex;
}

.button-wrap {
  width: 50%;
  text-align: center;
}
button {
  background: #3490dc;
  color: #ffffff;
  padding: 10px 15px;
  margin: 5px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}
